*.exe
*.obj
*.out
*.compile
*.native
*.byte
*.cmo
*.annot
*.cmi
*.cmx
*.cmt
*.cmti
*.cma
*.a
*.cmxa
*.obj
*~
*.annot
*.cmj
*.bak
lib/*
*.mlast
*.mliast
.vscode
.merlin
.bsb.lock
/node_modules/
benchmarks/
artifacts
cache
logs
*.res.js
*.res.mjs
*.gen.ts
build
.env
upload.sh
*.DS_Store
# Ignore everything in generated folder
generated/*

# But keep these files
!generated/Dockerfile
!generated/compose.yaml
!generated/.env-example
!generated/start-indexer.sh
